#### Programmer: Dhruv Singh <br> Course Name: Numpy Essentials 1 <br> Date Updated: 03/21/2022

### Module 2

#### Arrays

In [1]:
import numpy as np

In [2]:
integers=np.array([10,20,30,40,50])

In [3]:
print(integers)

[10 20 30 40 50]

In [4]:
integers[0]

10

In [5]:
integers[0]=20

In [6]:
# truncates, bc in np array, all have to be same data type
integers[0]=21.5
integers

array([21, 20, 30, 40, 50])

In [7]:
integers.dtype

dtype('int32')

In [8]:
smallerIntegers=np.array(integers, dtype=np.int8)
smallerIntegers

array([21, 20, 30, 40, 50], dtype=int8)

In [9]:
integers.nbytes

20

In [10]:
smallerIntegers.nbytes

5

In [11]:
overflow = np.array([127,128,129], dtype = np.int8)
overflow

array([ 127, -128, -127], dtype=int8)

In [12]:
floats=np.array([1.2,2.3,3.4,5.1,8.3])
print(floats)

[1.2 2.3 3.4 5.1 8.3]

In [13]:
floats.dtype

dtype('float64')

#### Multi Dimensional Arrays

In [14]:
# 1 d array: vector, 2 d array: matrix, multi-dim array: tensor
import numpy as np

In [15]:
nums=np.array([[1,2,3,4,5],[6,7,8,9,10]])
nums

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [16]:
nums[0,0]

1

In [17]:
# to access 10
nums[1,4] # second arrary, within that fifth element

10

In [18]:
nums.ndim

2

In [19]:
multi_arr=np.array([[[1,2,3], [4,5,6]], [[7,8,9], [10,11,12]]])

In [20]:
multi_arr

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [21]:
# to access 9
multi_arr[1,0,2] # second array, within that first array, within that third element

9

#### Arrays from Lists

In [22]:
import numpy as np

In [23]:
first_list=[1,2,3,4,5,6,7,8,9,10]

In [24]:
first_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
first_array=np.array(first_list)

In [26]:
first_array

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [27]:
second_list=[1,2,3,-1.23,50,128000.56,4.56]

In [28]:
second_array=np.array(second_list)

In [29]:
second_array

array([ 1.0000000e+00,  2.0000000e+00,  3.0000000e+00, -1.2300000e+00,
        5.0000000e+01,  1.2800056e+05,  4.5600000e+00])

In [30]:
second_array.dtype

dtype('float64')

In [31]:
third_list=['Ann', 111111, 'Peter', 111112, 'Susan', 111113, 'John', 111114]

In [32]:
third_array=np.array(third_list)

In [33]:
third_array

array(['Ann', '111111', 'Peter', '111112', 'Susan', '111113', 'John',
       '111114'], dtype='<U6')

In [34]:
first_tuple=(5, 10, 15, 20, 25, 30)

In [35]:
array_from_tuple=np.array(first_tuple)

In [36]:
array_from_tuple

array([ 5, 10, 15, 20, 25, 30])

In [37]:
array_from_tuple.dtype

dtype('int32')

In [38]:
multi_dim_list=[[[0,1,2], [3,4,5]], [[6,7,8], [9,10,11]]]

In [39]:
array_from_multi_dim_list=np.array(multi_dim_list)

#### Numpy: Arange

In [40]:
import numpy as np

In [41]:
integers_array=np.arange(10)
integers_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
integers_second_array=np.arange(100,130)
integers_second_array

array([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
       113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
       126, 127, 128, 129])

In [43]:
integers_third_array=np.arange(100,150,2)
integers_third_array

array([100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124,
       126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148])

In [44]:
first_floats_arr=np.linspace(10,20)
first_floats_arr

array([10.        , 10.20408163, 10.40816327, 10.6122449 , 10.81632653,
       11.02040816, 11.2244898 , 11.42857143, 11.63265306, 11.83673469,
       12.04081633, 12.24489796, 12.44897959, 12.65306122, 12.85714286,
       13.06122449, 13.26530612, 13.46938776, 13.67346939, 13.87755102,
       14.08163265, 14.28571429, 14.48979592, 14.69387755, 14.89795918,
       15.10204082, 15.30612245, 15.51020408, 15.71428571, 15.91836735,
       16.12244898, 16.32653061, 16.53061224, 16.73469388, 16.93877551,
       17.14285714, 17.34693878, 17.55102041, 17.75510204, 17.95918367,
       18.16326531, 18.36734694, 18.57142857, 18.7755102 , 18.97959184,
       19.18367347, 19.3877551 , 19.59183673, 19.79591837, 20.        ])

In [45]:
second_floats_arr=np.linspace(10,20,5)
second_floats_arr

array([10. , 12.5, 15. , 17.5, 20. ])

In [46]:
first_rand_arr=np.random.rand(10)
first_rand_arr

array([0.1435334 , 0.00177542, 0.95269697, 0.95765363, 0.59100358,
       0.9153093 , 0.8868205 , 0.23581771, 0.56881675, 0.53151189])

In [47]:
second_rand_arr=np.random.rand(4,4) # 2-d array
second_rand_arr

array([[0.08607947, 0.87337745, 0.02203414, 0.93506725],
       [0.22205702, 0.47695101, 0.87757408, 0.09406141],
       [0.25994536, 0.04310556, 0.08178546, 0.79351455],
       [0.87813317, 0.56332261, 0.82623336, 0.41262578]])

In [48]:
third_rand_arr=np.random.randint(0, 100, 20) # 1-d array
third_rand_arr

array([11, 94, 26, 11, 29,  9,  1, 51, 10, 36, 26, 54, 59, 33, 24, 98, 74,
       85, 24, 19])

#### Constant arrays

In [49]:
import numpy as np

In [50]:
first_z_array=np.zeros(5)
first_z_array

array([0., 0., 0., 0., 0.])

In [51]:
second_z_array=np.zeros((4,5)) # 2- array
second_z_array

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [52]:
first_ones_array=np.ones(6)
first_ones_array

array([1., 1., 1., 1., 1., 1.])

In [53]:
second_ones_array=np.ones((7,8))
second_ones_array

array([[1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1.]])

In [54]:
third_ones_array=np.ones((4,5),dtype=int)
third_ones_array

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [55]:
first_fill_array=np.empty(10,dtype=int) # uses empty and 'fill': only fill
first_fill_array.fill(12)
first_fill_array

array([12, 12, 12, 12, 12, 12, 12, 12, 12, 12])

In [56]:
first_full_array=np.full(5,10) # uses 'full' function: create and fill
first_full_array

array([10, 10, 10, 10, 10])

In [57]:
second_full_array=np.full((4,5),8) # 2-d array
second_full_array

array([[8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8],
       [8, 8, 8, 8, 8]])

#### Shape and size

In [58]:
import numpy as np

In [59]:
first_arr=np.arange(20)
first_arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [60]:
second_arr=np.linspace((1,2),(10,20),(10))
second_arr

array([[ 1.,  2.],
       [ 2.,  4.],
       [ 3.,  6.],
       [ 4.,  8.],
       [ 5., 10.],
       [ 6., 12.],
       [ 7., 14.],
       [ 8., 16.],
       [ 9., 18.],
       [10., 20.]])

In [61]:
third_arr=np.full((2,2,2),10)
third_arr

array([[[10, 10],
        [10, 10]],

       [[10, 10],
        [10, 10]]])

In [62]:
np.shape(first_arr)

(20,)

In [63]:
np.shape(second_arr)

(10, 2)

In [64]:
np.shape(third_arr)

(2, 2, 2)

In [65]:
np.size(first_arr)

20

In [66]:
np.size(second_arr)

20

In [67]:
np.size(third_arr)

8

### Module 3

#### Adding and removing

In [68]:
import numpy as np

In [69]:
first_arr=np.array([1,2,3,4,5])
first_arr

array([1, 2, 3, 4, 5])

In [70]:
new_first_arr=np.insert(first_arr,3,4)
new_first_arr

array([1, 2, 3, 4, 4, 5])

In [71]:
second_arr=np.array([1,2,3,4])
second_arr

array([1, 2, 3, 4])

In [72]:
new_second_arr=np.append(second_arr,5)
new_second_arr

array([1, 2, 3, 4, 5])

In [73]:
third_arr=np.array([1,2,3,4,5])
third_arr

array([1, 2, 3, 4, 5])

In [74]:
del_arr=np.delete(third_arr,4)
del_arr

array([1, 2, 3, 4])

In [75]:
# sorting the data
integers_arr=np.random.randint(0,20,20)
integers_arr

array([15,  0,  4,  4,  2, 19,  0, 14,  7, 17,  4, 14,  4,  4, 18,  3,  1,
        5, 16,  4])

In [76]:
print(np.sort(integers_arr))

[ 0  0  1  2  3  4  4  4  4  4  4  5  7 14 14 15 16 17 18 19]

In [77]:
integers_2dim_arr=np.array([[3,2,5,7,4], [5,0,8,3,1]])
integers_2dim_arr

array([[3, 2, 5, 7, 4],
       [5, 0, 8, 3, 1]])

In [78]:
print(np.sort(integers_2dim_arr)) # sort 2 d array

[[2 3 4 5 7]
 [0 1 3 5 8]]

In [79]:
colors=np.array(['orange', 'green', 'yellow', 'white', 'black', 'pink', 'blue', 'red', 'red'])
colors

array(['orange', 'green', 'yellow', 'white', 'black', 'pink', 'blue',
       'red', 'red'], dtype='<U6')

In [80]:
print(np.sort(colors))

['black' 'blue' 'green' 'orange' 'pink' 'red' 'red' 'white' 'yellow']

#### Copies

In [81]:
import numpy as np

In [82]:
students_ids_number=np.array([1111,1212,1313,1414,1515,1616,1717,1818])
students_ids_number

array([1111, 1212, 1313, 1414, 1515, 1616, 1717, 1818])

In [83]:
students_ids_number_reg=students_ids_number
print("id of students_ids_number", id(students_ids_number))
print("id of students_ids_number_reg", id(students_ids_number_reg)) # stored in the same memory location

id of students_ids_number 1993093504496
id of students_ids_number_reg 1993093504496

In [84]:
students_ids_number_reg[1]=2222
print(students_ids_number)
print(students_ids_number_reg) # both arrays have been changed

[1111 2222 1313 1414 1515 1616 1717 1818]
[1111 2222 1313 1414 1515 1616 1717 1818]

In [85]:
students_ids_number_cp=students_ids_number.copy()

In [86]:
print(students_ids_number_cp)

[1111 2222 1313 1414 1515 1616 1717 1818]

In [87]:
print(students_ids_number_cp==students_ids_number)

[ True  True  True  True  True  True  True  True]

In [88]:
print("id of students_ids_number", id(students_ids_number))
print("id of students_ids_number_cp", id(students_ids_number_cp)) # these refer to different locations in memory

id of students_ids_number 1993093504496
id of students_ids_number_cp 1993093666336

In [89]:
students_ids_number[0]=1000
print("original: ", students_ids_number)
print("copy: ", students_ids_number_cp) # with copy, only original changes. copy owns the array once copied

original:  [1000 2222 1313 1414 1515 1616 1717 1818]
copy:  [1111 2222 1313 1414 1515 1616 1717 1818]

In [90]:
students_ids_number_v=students_ids_number.view()

In [91]:
students_ids_number_v[0]=2000
print("original: ", students_ids_number)
print("view: ", students_ids_number_v) # change to either affects the other, neither owns the data

original:  [2000 2222 1313 1414 1515 1616 1717 1818]
view:  [2000 2222 1313 1414 1515 1616 1717 1818]

In [92]:
print(students_ids_number_cp.base)
print(students_ids_number_v.base)

None
[2000 2222 1313 1414 1515 1616 1717 1818]

#### Reshaping arrays

In [93]:
import numpy as np

In [94]:
first_arr=np.arange(1,13)
first_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [95]:
second_arr=np.reshape(first_arr,(3,4))
second_arr

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [96]:
third_arr=np.reshape(first_arr,(6,2))
third_arr

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [97]:
#fourth_arr=np.reshape(first_arr,(4,4)) # size by elements must be equal
#fourth_arr

In [98]:
fifth_arr=np.reshape(first_arr,(3,2,2))
print(fifth_arr)
print("Dimensions of fifth_arr is ", fifth_arr.ndim)

[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]]]
Dimensions of fifth_arr is  3

In [99]:
sixth_arr=np.array([[1,2],[3,4],[5,6]])
sixth_arr

array([[1, 2],
       [3, 4],
       [5, 6]])

In [100]:
seventh_arr_flat=np.reshape(sixth_arr,-1) # flattens multi dim array
seventh_arr_flat

array([1, 2, 3, 4, 5, 6])

In [101]:
eighth_arr_flat=sixth_arr.flatten()
print("eighth_arr_flat:", eighth_arr_flat)
ninth_arr_rav=sixth_arr.ravel()
print("ninth_arr_rav:", ninth_arr_rav)

eighth_arr_flat: [1 2 3 4 5 6]
ninth_arr_rav: [1 2 3 4 5 6]

In [102]:
eighth_arr_flat[0]=100 # owns the data

In [103]:
ninth_arr_rav[0]=200 # owns the data

In [104]:
print("eighth_arr_flat:", eighth_arr_flat)
print("ninth_arr_rav:", ninth_arr_rav)

eighth_arr_flat: [100   2   3   4   5   6]
ninth_arr_rav: [200   2   3   4   5   6]

#### Indexing

In [105]:
import numpy as np

In [106]:
twodim_arr=np.reshape(np.arange(12),(3,4))
twodim_arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [107]:
twodim_arr[1,1]

5

In [108]:
twodim_arr[1]

array([4, 5, 6, 7])

In [109]:
threedim_arr=np.reshape(np.arange(3*4*5),(3,4,5))
threedim_arr

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

In [110]:
threedim_arr[0,2,3]

13

In [111]:
threedim_arr[2,-1,-1]

59

#### Slicing

In [112]:
ondim_arr=np.arange(10)
ondim_arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [113]:
ondim_arr[2:6] # options: start, stop, step

array([2, 3, 4, 5])

In [114]:
ondim_arr[:5]

array([0, 1, 2, 3, 4])

In [115]:
ondim_arr[-3:]

array([7, 8, 9])

In [116]:
ondim_arr[::2] # only uses step

array([0, 2, 4, 6, 8])

In [117]:
twodim_arr # 3 rows, 4 columns # 2-d arr is a matrix always

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [118]:
twodim_arr[1:,1:]

array([[ 5,  6,  7],
       [ 9, 10, 11]])

In [119]:
twodim_arr[1,:] # only second row

array([4, 5, 6, 7])

In [120]:
twodim_arr[:,2] # only third column

array([ 2,  6, 10])

#### Joining Arrays

In [121]:
import numpy as np

In [122]:
first_arr=np.arange(1,11)
second_arr=np.arange(11,21)
print("first_arr", first_arr)
print("second_arr", second_arr)

first_arr [ 1  2  3  4  5  6  7  8  9 10]
second_arr [11 12 13 14 15 16 17 18 19 20]

In [123]:
con_arr=np.concatenate((first_arr, second_arr)) # Concatenate function
con_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [124]:
third_2darr=np.array([[1,2,3,4,5],[6,7,8,9,10]])
third_2darr

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [125]:
fourth_2darr=np.array([[11,12,13,14,15],[16,17,18,19,20]])
fourth_2darr

array([[11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [126]:
con2d_arr=np.concatenate((third_2darr,fourth_2darr),axis=1)
con2d_arr

array([[ 1,  2,  3,  4,  5, 11, 12, 13, 14, 15],
       [ 6,  7,  8,  9, 10, 16, 17, 18, 19, 20]])

In [127]:
st_arr = np.stack((first_arr, second_arr)) # Stack function
st_arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]])

In [128]:
hst_arr=np.hstack((first_arr, second_arr))
hst_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [129]:
vst_arr=np.vstack((first_arr, second_arr))
vst_arr

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]])

#### Splitting Arrays

In [130]:
fifth_arr=np.arange(1,13)
fifth_arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [131]:
sp_arr=np.array_split(fifth_arr,4)
sp_arr

[array([1, 2, 3]), array([4, 5, 6]), array([7, 8, 9]), array([10, 11, 12])]

In [132]:
print(sp_arr[1])

[4 5 6]

In [133]:
sp_arr=np.array_split(fifth_arr,8)
sp_arr

[array([1, 2]),
 array([3, 4]),
 array([5, 6]),
 array([7, 8]),
 array([9]),
 array([10]),
 array([11]),
 array([12])]

In [134]:
hs_arr=np.hsplit(third_2darr,5)
hs_arr

[array([[1],
        [6]]),
 array([[2],
        [7]]),
 array([[3],
        [8]]),
 array([[4],
        [9]]),
 array([[ 5],
        [10]])]

In [135]:
vs_arr=np.vsplit(third_2darr,2)
vs_arr

[array([[1, 2, 3, 4, 5]]), array([[ 6,  7,  8,  9, 10]])]

### Module 4

#### Broadcasting

In [136]:
# how numpy treats diff arrays of diff sizes
import numpy as np

In [137]:
a=np.arange(1,10).reshape(3,3)
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [138]:
b=np.arange(1,4)
b

array([1, 2, 3])

In [139]:
a+b # last dim must be same, first dim copied over

array([[ 2,  4,  6],
       [ 5,  7,  9],
       [ 8, 10, 12]])

In [140]:
c=np.arange(1,3)
c

array([1, 2])

In [141]:
#a+c

In [142]:
d=np.arange(24).reshape(2,3,4)
d

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [143]:
e=np.arange(4) # again last dim is same, first dim copied over
e

array([0, 1, 2, 3])

In [144]:
d-e

array([[[ 0,  0,  0,  0],
        [ 4,  4,  4,  4],
        [ 8,  8,  8,  8]],

       [[12, 12, 12, 12],
        [16, 16, 16, 16],
        [20, 20, 20, 20]]])

#### Aggregate functions

In [145]:
import numpy as np

In [146]:
first_arr=np.arange(10,110,10)
first_arr

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [147]:
second_arr=np.arange(10,100,10).reshape(3,3)
second_arr

array([[10, 20, 30],
       [40, 50, 60],
       [70, 80, 90]])

In [148]:
third_arr=np.arange(10,110,10).reshape(2,5)
third_arr

array([[ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100]])

In [149]:
first_arr.sum()

550

In [150]:
second_arr.sum()

450

In [151]:
third_arr.sum()

550

In [152]:
second_arr.sum(axis=0) # vert

array([120, 150, 180])

In [153]:
second_arr.sum(axis=1) # across

array([ 60, 150, 240])

In [154]:
first_arr.prod()

1704722432

In [155]:
second_arr.prod()

-1786839040

In [156]:
third_arr.prod()

1704722432

In [157]:
third_arr.prod(axis=0)

array([ 600, 1400, 2400, 3600, 5000])

In [158]:
np.average(first_arr)

55.0

In [159]:
np.average(second_arr)

50.0

In [160]:
np.average(third_arr)

55.0

In [161]:
np.min(first_arr)

10

In [162]:
np.max(first_arr)

100

In [163]:
np.mean(first_arr)

55.0

In [164]:
np.std(first_arr)

28.722813232690143

#### Unique items

In [165]:
import numpy as np

In [166]:
first_arr=np.array([1,2,3,4,5,6,1,2,7,2,1,10,7,8])

In [167]:
np.unique(first_arr)

array([ 1,  2,  3,  4,  5,  6,  7,  8, 10])

In [168]:
second_arr=np.array([[1,1,2,1], [3,1,2,1], [1,1,2,1], [7,1,1,1]])
second_arr

array([[1, 1, 2, 1],
       [3, 1, 2, 1],
       [1, 1, 2, 1],
       [7, 1, 1, 1]])

In [169]:
np.unique(second_arr)

array([1, 2, 3, 7])

In [171]:
np.unique(second_arr, axis=0) # unique rows

array([[1, 1, 2, 1],
       [3, 1, 2, 1],
       [7, 1, 1, 1]])

In [172]:
np.unique(second_arr, axis=1) # unique columns

array([[1, 1, 2],
       [1, 3, 2],
       [1, 1, 2],
       [1, 7, 1]])

In [173]:
np.unique(first_arr,return_index=True) # can return index as well in option, first instance of unique element

(array([ 1,  2,  3,  4,  5,  6,  7,  8, 10]),
 array([ 0,  1,  2,  3,  4,  5,  8, 13, 11], dtype=int64))

In [176]:
np.unique(second_arr, return_counts=True)

(array([1, 2, 3, 7]), array([11,  3,  1,  1], dtype=int64))

#### Transpose

In [177]:
import numpy as np

In [178]:
first_2dimarr=np.arange(12).reshape((3,4))
first_2dimarr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [179]:
np.transpose(first_2dimarr)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [180]:
second_2dimarr=np.arange(6).reshape((3,2))
second_2dimarr

array([[0, 1],
       [2, 3],
       [4, 5]])

In [181]:
np.transpose(second_2dimarr, (1,0))

array([[0, 2, 4],
       [1, 3, 5]])

In [182]:
first_3dimarr=np.arange(24).reshape(2,3,4)
first_3dimarr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [183]:
np.moveaxis(first_3dimarr,0,-1)

array([[[ 0, 12],
        [ 1, 13],
        [ 2, 14],
        [ 3, 15]],

       [[ 4, 16],
        [ 5, 17],
        [ 6, 18],
        [ 7, 19]],

       [[ 8, 20],
        [ 9, 21],
        [10, 22],
        [11, 23]]])

In [184]:
np.swapaxes(first_3dimarr,0,2)

array([[[ 0, 12],
        [ 4, 16],
        [ 8, 20]],

       [[ 1, 13],
        [ 5, 17],
        [ 9, 21]],

       [[ 2, 14],
        [ 6, 18],
        [10, 22]],

       [[ 3, 15],
        [ 7, 19],
        [11, 23]]])

#### Reversing an Array

In [185]:
import numpy as np

In [186]:
arr_1dim=[10,1,9,2,8,3,7,4,6,5]
arr_1dim

[10, 1, 9, 2, 8, 3, 7, 4, 6, 5]

In [187]:
arr_1dim[::-1]

[5, 6, 4, 7, 3, 8, 2, 9, 1, 10]

In [188]:
np.flip(arr_1dim)

array([ 5,  6,  4,  7,  3,  8,  2,  9,  1, 10])

In [189]:
arr_2dim=np.arange(9).reshape(3,3)
arr_2dim

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [190]:
np.flip(arr_2dim) # mirror image

array([[8, 7, 6],
       [5, 4, 3],
       [2, 1, 0]])

In [191]:
np.flip(arr_2dim,1)

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

In [192]:
arr_3dim=np.arange(24).reshape(2,3,4)
arr_3dim

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [193]:
np.flip(arr_3dim,1) # mirrors each 2-d array

array([[[ 8,  9, 10, 11],
        [ 4,  5,  6,  7],
        [ 0,  1,  2,  3]],

       [[20, 21, 22, 23],
        [16, 17, 18, 19],
        [12, 13, 14, 15]]])

In [194]:
np.flip(arr_3dim,2) # mirrors each 2-d array along diff axis

array([[[ 3,  2,  1,  0],
        [ 7,  6,  5,  4],
        [11, 10,  9,  8]],

       [[15, 14, 13, 12],
        [19, 18, 17, 16],
        [23, 22, 21, 20]]])